{% extends 'base.html' %}

{% block content %}
<br>
<div style="padding: 10px;" class="col-md-8">
    <h1>Hola! soy <strong>Martin Silva</strong></h1>
    <h3>Estudiante programador en Python.</h3>
    <br>
    <div style="padding: 10px;" class="col-md-8 text-danger me-auto">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis non, explicabo eaque in quos ratione minus hic ut perspiciatis blanditiis id soluta quaerat similique nemo. Eos quae eaque optio dicta.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius consectetur reprehenderit necessitatibus rem laudantium maiores, ullam, inventore esse sit aliquid iure tempora omnis, dolores excepturi sint recusandae ea. Totam, nam.</p>
    </div>
</div>
{% endblock %}